body {
	background-color: #F8F7F7;
	margin-top: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    display: table;
    content: "";
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.row-form {
    margin-bottom: 20px;
}

#top-header {
	width: 100%;
	float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.top-header-body{
	padding: 16px 10px 10px 59px;
    font-size: 17px;
    min-height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 
                0 1px 8px 0 rgba(0,0,0,.09);
}

#main-menu {
	width: 100%;
	float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

nav {
	border-top: 1px solid #eee;
    border-bottom: 3px solid rgb(37, 88, 38);
    color: white;
    padding: 14px 0px 13px 0px;
    font-size: 17px;
    background-color: rgb(61, 214, 33);
    margin-bottom: 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 
    0 1px 8px 0 rgba(0,0,0,.09);
}

.menu {
    margin: 0;
    list-style: none;
    list-style-type: none;
}

.menu > li {
	display: inline;
}

.menu > li > a:hover {
	background-color: rgb(58, 173, 36);
}

.menu > li > a {
	color: #fff;
    padding: 10px 15px;
    -webkit-transition: .5s ease padding;
    -o-transition: .5s ease padding;
    transition: .5s ease padding;
    text-decoration: none;
}

#body {
    font-size: 17px;
    min-height: 40px;
    margin-bottom: 558px;
}

#sidebar {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#content {
	width: 75%;
	float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.content-body {
	margin-bottom: 24px;
	padding: 40px;
    font-size: 17px;
    min-height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 
                0 1px 8px 0 rgba(0,0,0,.09);
}

label {
	display: inline-block;
    max-width: 100%;
    font-weight: bold;
    font-family: sans-serif;
}

#author {
	font-family: sans-serif;
    color: #A2A2A2;
}

#title {
	margin-bottom: -15px;
    padding-bottom: 0px;
}

#title > h2 {
    margin-top: 0px;
}

#content_artikel > p {
    line-height: 155%;
}

.content-title{
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: -13px;
    font-family: sans-serif;
    font-weight: bold;
}

.form-contact {
    margin-bottom: 13px;
    width: 100%;
    resize: horizontal;
    border-radius: 8px;
    padding: 1%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: 1px solid #ccc;
    font-family: sans-serif;
    color: #191515;
}

.form-contact:focus{
    outline: none;
}

.contact-person{
    margin-top: 25px;
}

.contact > h4{
    margin-top: 0%;
    margin-bottom: 2%;
}

.contact-submit {
    padding: 6px;
    width: 100%;
    border-radius: 8px;
    background-color: #7CE36A;
    border: 1px solid transparent;
    font-family: sans-serif;
    font-weight: bold;
    touch-action: manipulation;
}

.contact-submit:hover{
    background-color: #54D83C;
}


.sidebar-panel {
	padding: 10px 10px 10px 10px;
	margin-bottom: 25px;
    font-size: 17px;
    min-height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 
    0 1px 8px 0 rgba(0,0,0,.09);
}

.sidebar-panel > .sidebar-header {
    margin: -10px;
    padding: 10px;
    background-color: rgba(61, 214, 33, 0.67);
}

.sidebar-panel > .sidebar-header > .sidebar-title {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.sidebar-panel > .sidebar-body {
    margin-top: 20px;
}

.feedback-sidebar-header > img {
    float: left;
    width: 24%;
}

.feedback-sidebar-header > .feedback-image {
    border-radius: 30%;
    max-width: 100%;
    height: auto;
    margin-right: 2%;
}

.feedback-sidebar-header > .feedback-sidebar-identity {
    position: relative;
}

.feedback-sidebar-identity > .feedback-name {
    padding-top: 2%;
    margin-bottom: -23px;
}

.feedback-sidebar-identity > .feedback-id {
    color: rgba(255, 0, 0, 0.97);
}

.feedback-sidebar-content {
        font-style: italic;
    color: rgba(0, 0, 0, 0.55);
    padding: 0% 6%;
}

.feedback {
    display: inline-block;
}
.feedback-header > img {
    float: left;
    width: 19%;
}

.feedback-header > .feedback-image {
    border-radius: 30%;
    max-width: 100%;
    height: auto;
    margin-right: 2%;
}

.feedback-header > .feedback-identity {
    position: relative;
}

.feedback-identity > .feedback-name {
    padding-top: 2%;
    margin-bottom: -23px;
}

.feedback-identity > .feedback-id {
    color: rgba(255, 0, 0, 0.97);
}

.feedback-content {
        font-style: italic;
    color: rgba(0, 0, 0, 0.55);
    padding: 0% 6%;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    border-radius: 7px;
    padding: 7px;
    border: 0;
    width: 90%;
}

input[type="search"]:focus{
    outline: none;
}

input{
    margin: 0;
    font: inherit;
    color: inherit;
}

#clock{
	font-size: 42px;
    text-align: center;
    color: red;
}

#date {
    font-size: 20px;
    text-align: center;
    color: blue;
}

.profile {
    margin-bottom: 3%;
}

.profile-image{
    border-radius: 40%;
}

.profile-name{
    font-family: sans-serif;
    font-size: 118%;
    font-weight: bold;
}

.profile-id{
    font-family: sans-serif;
    font-size: 118%;
    font-weight: bold;
}

.profile-position{
    font-family: sans-serif;
    font-size: 118%;
    font-weight: bold;
}


#credit-footer {
	width: 100%;
	float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.credit-footer-body{
   text-align: center;
   color: darkgrey;
   margin-bottom: -10px;
   padding: 12px 59px 1px 59px;
   font-size: 14px;
   min-height: 40px;
   background-color: rgba(248, 247, 247, 0.88);
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 0 1px 8px 0 rgba(0,0,0,.09);
}